@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.display-flex {
    display: flex;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 43px;

    background-color: rgba(229, 84, 115, 1);
    color: white;

    border: none;
    border-radius: 8px;
}


/* header */

header {
    background-color: rgba(229, 84, 115, 0.1);
    padding-top: 50px;
}

.header-container {
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    gap: 90px;

    margin: 50px auto;
}

.part1 {
    max-width: 800px;
}

.header-title {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 32px;
}

.header-desc {
    font-size: 1.125rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}

main>section {
    margin-bottom: 130px;
}


/* main */

/* section one */

.one-container {
    max-width: 1440px;
    margin: 130px 240px 0;
    text-align: center;
}

.texts-one h3 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.texts-one p {
    font-size: 1.125rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 48px;
}

.img-container-one {
    justify-content: center;
    gap: 24px;
}

.img1-one,
.img2-one,
.img3-one {
    padding: 110px 80px 0 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    margin-bottom: 32px;
}

.img2-one {
    padding-bottom: 60px;
}

.img3-one {
    padding-top: 70px;
}

.img1-one {
    background-color: rgba(167, 33, 98, 0.15);
}

.img2-one {
    background-color: rgba(5, 151, 160, 0.15);
}

.img3-one {
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 35px;
    color: rgba(39, 39, 39, 1);
}



.two-container {
    max-width: 1440px;
    padding: 88px 175px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    border-radius: 8px;
}

.features {
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.features div {
    text-align: center;
}

.features p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35px;
    margin-top: 24px;
}


.three-container {
    max-width: 1922px;
    padding: 230px 390px;
    background-color: rgba(229, 84, 115, 0.05);
    margin: 0 auto;

    justify-content: center;
    align-items: center;
    gap: 190px;
}

.offer-details {
    text-align: center;
}

.off-heading {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.off-details {
    font-size: 1.125rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}