@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.display-flex {
    display: flex;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 43px;

    background-color: rgba(229, 84, 115, 1);
    color: white;

    border: none;
    border-radius: 8px;
}


/* header */

header {
    background-color: rgba(229, 84, 115, 0.1);
    padding-top: 50px;
}

.header-container {
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    gap: 90px;

    margin: 50px auto;
}

.part1 {
    max-width: 800px;
}

.header-title {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 32px;
}

.header-desc {
    font-size: 1.125rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}